@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-navigation-btn {
        @apply w-7 h-7 flex items-center justify-center hover:border-cyan-300 active:border-cyan-500 transition duration-200;
    }

    .header-navigation-icon {
        @apply w-3/4 h-3/4 text-cyan-400 group-hover:text-cyan-300 group-active:text-cyan-500 transition duration-200;
    }

    .auth-title {
        @apply font-semibold text-2xl;
    }

    .auth-subtitle {
        @apply font-semibold text-lg;
    }

    .form {
        @apply w-5/6 md:w-1/2 max-w-md;
    }

    .form-group {
        @apply flex flex-col justify-center items-start mt-5;
    }

    .form-label {
        @apply font-medium text-base;
    }

    .form-input {
        @apply mt-2 w-full bg-slate-100 py-2 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 transition duration-200;
    }

    .form-btn {
        @apply w-full py-2 mt-7 bg-cyan-400 text-slate-800 font-semibold rounded-lg hover:text-cyan-400 hover:bg-slate-800 transition duration-200;
    }

    .product-card-price {
        @apply text-cyan-400 text-base font-semibold;
    }

    .product-card-compare-price {
        @apply text-amber-300 text-sm line-through font-medium;
    }

    .overlay {
        @apply fixed left-0 top-0 w-screen h-screen z-30 bg-gray-900/70;
    }

    .alert-error {
        @apply w-full px-4 py-2 bg-red-300 text-red-600 border border-red-500 block rounded-sm mt-3;
    }

    .alert-success {
        @apply w-full px-4 py-2 bg-green-300 text-green-600 border border-green-500 block rounded-sm mt-3;
    }

    .alert-warning {
        @apply w-full px-4 py-2 bg-amber-300 text-amber-600 border border-amber-500 block rounded-sm mt-3;
    }

    .submit-button {
        @apply w-full text-center py-1 text-white bg-cyan-400 mt-4 rounded-lg text-xl font-bold transition transform duration-300 hover:-translate-y-1 hover:shadow-lg
    }

    .item-button {
        @apply text-center py-2 px-3 rounded-lg hover:bg-gray-800/10 text-base font-medium cursor-pointer
    }

    .admin-editor-form {
        @apply w-1/2 bg-white py-5 px-7 rounded-lg
    }

    .admin-editor-form-title {
        @apply text-cyan-400 text-2xl font-semibold text-center
    }
}

:root {
    --swiper-theme-color: #22d3ee;
    --swiper-navigation-size: 30px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-inactive-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-pagination-bullet {
    transition-property: width, height, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-size: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    max-width: 100%;
    max-height: 100vh;
}

.swiper-vertical .swiper-button-next,
.swiper-vertical .swiper-button-prev {
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
}

.swiper-vertical .swiper-button-prev {
    top: 10px;
}

.swiper-vertical .swiper-button-next {
    top: 10px;
    top: auto;
    bottom: 10px;
}

.swiper-horizontal .swiper-slide {
    height: auto;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: auto;
    margin-right: auto;
}

.price-slider-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #22d3ee;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 1px #1d6b77;
    cursor: pointer;
}

.price-slider-container input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #22d3ee;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 1px #1d6b77;
    cursor: pointer;
}

.price-slider-container input[type='range']::-webkit-slider-thumb:hover {
    background: #54d8ec;
}

.price-slider-container input[type='range']::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.price-slider-container input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    border: none;
    background-color: transparent;
    pointer-events: none;
}


.quantity-controller input[type='number']::-webkit-outer-spin-button,
.quantity-controller input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-controller input[type='number'] {
    -moz-appearance: textfield;
}

#search-page .swiper {
    max-height: 350px;
}
